<!DOCTYPE html>
<html ng-app="myApp">
<head>
<script src
="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
</script>
<title>Angular Static Template</title>
<style>
body {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
h1 { color: green; }
</style>
</head>
<body ng-controller="hvpController">
<h1>Welcome to TYBCA</h1>
<h3>Angular Static Template</h3>
<br> Input Value is:
<input ng-model="hvp" value="Your Value Here">
<button ng-click="h1()">Button</button>
</body>
<script>

</script>
</html>